@page "/register"

<h1>Register</h1>

@if (_displayErrors)
{
    <div class="alert alert-danger" role="alert">
        @_errorMessage
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="@_registerModel" OnValidSubmit="HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary Model="@_registerModel" />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="@_registerModel.Email" />
                <ValidationMessage For="@(() => _registerModel.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="@_registerModel.Password" />
                <ValidationMessage For="@(() => _registerModel.Password)" />
            </div>
            <div class="form-group">
                <label for="password">Confirm Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="@_registerModel.ConfirmPassword" />
                <ValidationMessage For="@(() => _registerModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>